* {
    margin: 0;
    padding: 0;
}
body {
  background: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;

}
.header-bur {
    display: none;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 15px;
}
#header {
    padding: 20px 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: white;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-num {
    display: flex;
    gap: 10px;
}
.header-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-nav {
    display: flex;
    gap: 30px;
}

.header-nav a {
    color: black;
    font-weight: 600;
    font-size: 14px;

}
.header-num {
    font-size: 16px;
    font-weight: 600;
    color: black;
}
#hero {
    padding: 120px;
}
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}
.hero-group h1 {
    font-size: 70px;
    color: white;
}
.hero-group p {
    color: white;
    width: 416px;
    font-size: 26px;

}
.hero-btn {
    padding: 12px 29px;
    border-radius: 23px;
    background: orange;
    color: white;
    border: none;
    font-weight: 600;
}
.hero-watch {
    background: transparent;
    color: white;
    display: flex;
    align-items: center;
    border: none;
}

.recomend-title  {
    font-family: Noto Sans;
font-size: 30px;
font-weight: 700;
line-height: 40.86px;
text-align: center;
color: white;
}

.recomend-group {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.recomend p {
    font-size: 12px;
font-weight: 400;
line-height: 16.34px;
color: white;

}
.recomend p {
    display: flex;
    justify-content: space-around;
}

.technical-group h3 {
    font-family: Noto Sans;
font-size: 30px;
font-weight: 400;
line-height: 40.86px;
text-align: left;
color: white;
padding-top: 0px;
}

.technical-group h4 {
font-family: Noto Sans;
font-size: 20px;
font-weight: 400;
line-height: 27.24px;
color: white;
padding: 20px 0;
}

.technical-group {
    display: flex;
    justify-content: space-around;

}

.technical-block {
display: flex;
justify-content: space-around;

}

.technical h1 {
    text-align: center;
    color: white;
    padding: 70px 0;
}

.cricle {
    width: 82px;
height: 82px;
border-radius: 60px;
border: 6px solid rgba(247, 163, 37, 1);
background: black;
color: white;
font-family: Noto Sans;
font-size: 22px;
text-align: center;
}
   

.information p {
    color: white;
    font-family: Noto Sans;
font-size: 13px;
font-weight: 400;
line-height: 17.18px;

}
.information {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 100px;
       
}

.frame {
    display: flex;
    align-items: center;
    padding-left:  265px; 
    width: 1131px;
height: 639px;
top: 2187px;
left: 155px;

}

.application p {
    font-family: Noto Sans;
font-size: 15px;
font-weight: 400;
line-height: 20.43px;
text-align: left;
color: rgba(255, 255, 255, 1);
margin-top: 30px;
}

#footer {
    color: black;
    background: white;
    margin-top: 30px;
}
.footer-logo {
    color: aliceblue;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-num {
    display: flex;
    gap: 10px;
}
.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-nav {
    display: flex;
    gap: 30px;
}

.footer-nav a {
    color: black;
    font-weight: 600;
    font-size: 14px;

}
.footer-num {
    font-size: 16px;
    font-weight: 600;
    color: black;
}
.footer h3 {
    color: black;
}
.icons ion-icons {
    color: black;
    width: 25.38px;
height: 25.38px;
}
.icons  {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


.burger-menu hr {
    display: none;
    width: 30px;
    height: 2px;
    background: white;

}



.line {
    width: 160px;
    height: 2px;
    background: orange;
    transform: rotate(90deg);
    margin: 0;
}
.swiper-slide p {
font-size: 15px;
width: 303px;
height: 105px;
text-align: start;


}
.application-box {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#application {
    padding: 60px 0;
}
.application-title {
    text-align: center;
    color: white;
}
.application {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
}
.application-box input {
    font-family: Noto Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 27.24px;
    text-align: center;
    background:  transparent;
    width: 339px;
    height: 55px;
    border-radius: 10px;
    border: 1px  solid grey;
    margin-top: 20px;
}
.application-box button {
    width: 339px;
    height: 42px;
    top: 4004px;
    left: 821px;
    border-radius: 10px;
    background: rgba(247, 163, 37, 1);
    border: none;
    margin-top: 20px;
}


.line-box {
    display: flex;
    align-items: center;
    width: 100%;
    text-align: start;
}

.slider {
    padding: 50px;
}
.swiper {
    width: 90%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 20px 0;
  }
.swiper-slide button {
    padding: 12px 22px;
    border-radius: 12px;
    border: none;
    background: rgba(247, 163, 37, 1);
    color: #fff;
    font-weight: 500;
    margin: 20px 0;

}
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 270px;
    object-fit: contain;
  }


  @media ( max-width:1200px) {

  }
  
  @media ( max-width:1024px) {
      .technical-block {
          display: flex;
          align-items: center;
          padding: 40px;
          justify-content: center;
      }
      .technical-group {
          flex-direction: column-reverse;
      }
     .technical-block img {
      width: 40%;
     }
  }
  @media ( max-width:992px) {
    .header {
        background: black;

    }
    
    .header-nav {
        display: none;
    }

    .header-logo {
        color: white;
    }
    .header-logo img {
        background: transparent;
        color: white;
        
    }
    .burger-menu {
    display: block;
        background: white;
        color: white;
    }
    .hero {
        flex-direction: column;
    }

    .recomend-group {
        flex-direction: column;
    }
      .application {
          flex-direction: column;
      }
  }
  @media ( max-width:768px) {
      
      .technical-block {
          flex-direction: column-reverse;
      }
  
    
  }
  @media  (max-width: 576px) {
     .information {
      display: flex;
      flex-wrap: wrap;
     }
     .footer nav {
        
        flex-direction: column;
    }
    .icons {
    
        flex-direction: column;
        

    }
    .footer-num {
        padding-top: 300px;
    }

    .footer-logo {
       padding-bottom: 150px;
    }
    }
     @media  (max-width: 450px) {
       
    }
    @media  (max-width: 425px) {
    }
    @media  (max-width: 380px) {
    }
    @media  (max-width: 360px) {
    }
    @media  (max-width: 320px) {
    
    }